
.task{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    border: 3px dotted #FBF2CF;
    padding: 0 15px;
    color: #FBF2CF;
    margin: 10px;
}
.btnColor{
    background-color: #FA7070;
    border: 1px dotted #FBF2CF;
}
.stage{
    font-size: 1.2rem;
    border: 1px solid;
    padding: 3px;
}