.modal{
    position: absolute;
    top: 30%;
    left: 38%;
    background-color: #A1C298;
    height: 25%;
    width: 25%;
    border-radius: 20px;
    color: #FBF2CF;
    text-align: center;
    border: none;
}
.error{
    color: #FA7070;
    font-weight: 600;
}
p{

}