header{
    margin-top: 20px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #FBF2CF;
    border-left: 1px solid #FBF2CF;
    border-right: 1px solid #FBF2CF;

    position: sticky;
}
.logo{
    color: #FBF2CF;
    width: 140px;   
    cursor: pointer; 
}
a{
    text-decoration: none;
    color: #FBF2CF;
}
.menu{
    display: flex;
    list-style-type: none;
    font-weight: 600;
    font-size: 1.2rem;
}
li{
    cursor: pointer;
}
.btnCustom{
    border: 2px solid #FBF2CF;
}
.btnCustom:hover{
    color: #C6EBC5;
}
.modal{
    position: absolute;
    top: 30%;
    left: 35%;
    background-color: #A1C298;
    width: 30%;
    border-radius: 20px;
    color: #FBF2CF;
    border: none;
    text-align: center;

}
.timerModal{
    padding: 25px;
}
.timerModal h2{
    border-bottom: 2px solid #FBF2CF;
}
.inputTimer{
    display: flex;
    justify-content: space-around;
}
.inputTimer input{
    padding: 10px;
    font-size: 1rem;
    border: none;
    background-color: #C6EBC5;
}
button{
    justify-self: center;
}